{
  "extends": "airbnb",
  "env": {
    "browser": true,
  },
  "rules": {
    "import/extensions": "always",
    "import/prefer-default-export": "off",
    "arrow-body-style": "off",
    "react/prefer-stateless-function": "off",
  }
}
